.main{
    margin: 0 auto;
    display: flex;
    width: 80vmin;
    border: 1px solid black;
    padding :10px;
    letter-spacing: 0.3vmin;
    line-height: 1.5rem;
    background-color:rgb(255, 255, 255);
    flex-direction: column;
    border-radius: 10px;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: black;
}
ul,ol{
    /* list-style: none; */
    margin-left: 25px;
}
hr{
    margin-bottom: 10px;
}
.head{
    display: flex;
    justify-content: space-between;
}
.headimg{
    width: 10vh;
    height: 13.2vh;
    background-image: url(../../asstes/images/head.jpg);
    background-size: cover;
    border-radius: 5%;
}
a{
    text-decoration: none;
    color: blue;
}