  @keyframes show{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .skill-box{
    width : 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    animation: show 1s linear;
  }
  .skill-card{
    font-size: 30px;
    color: aliceblue;
    margin: 10px;
    width: 300px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(135, 207, 235, 0.434);
    overflow: hidden;
    transition: all 0.2s linear;
    cursor: pointer;
    span{
      transition: all 0.2s linear;
    }
  }
  .skill-card:hover{
    box-shadow: 0 0 20px deepskyblue;
    span{
      transform: scale(1.05);
    }
  }

