.main-show{
    line-height: 0.1;
    margin-bottom: 10px;
    /* align-self: flex-start; */
    height: 80vh;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    /* border: 1px solid rgba(0, 0, 255, 0.2); */
    padding: 60px;
}
/* .main-show:hover{
    line-height: 0.8;
} */
.item{
    font-size: 8rem;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: transparent;
    -webkit-text-stroke: blue 3px;
    /* overflow: hidden; */
}
.item1{
    opacity: 0.2;
}
.item2{
    opacity: 0.4;
    color: rgba(0, 0, 255, 0.2);
}
.item3{
    color: rgba(0, 0, 255, 0.4);
    opacity: 0.6;
}
.item4{
    opacity: 0.8;
    color: rgba(0, 0, 255, 0.6);
    
}
.item5{
    opacity: 1;
    color: rgba(0, 0, 255, 0.8);
}

@media screen and (max-width: 600px) {
    .item{
    font-size: 5rem;
    }
}
.box{
    width: 100px;
    height: 200px;
    background-color: rgba(240, 255, 249, 0.217);
    position: absolute;
}