.menu-list{
    position: relative;
}
.detail{
    position: absolute;
    height: 0px;
    width: 100px;
    background: whitesmoke;
    overflow: hidden;
    border-radius: 5px;
    top: 3.8vh;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
    /* padding: 5px; */
    a{
        color: black;
        padding-left: 5px;
    }
}
.menu-list:hover{
    .detail{
        height: calc(6*22px)
   }
}
/* a{
    text-decoration: none;
    color: black;
} */
a:hover{
    text-decoration: underline;
}