/* 全局重置样式 */
* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: rgb(3, 97, 134); */
  overflow-x: hidden;
}

/* 自定义字体 */
@font-face {
  font-family: 'iconfont'; /* Project id 4742292 */
  src: url('//at.alicdn.com/t/c/font_4742292_eenkc8vgg3.woff2?t=1733543192760') format('woff2'),
       url('//at.alicdn.com/t/c/font_4742292_eenkc8vgg3.woff?t=1733543192760') format('woff'),
       url('//at.alicdn.com/t/c/font_4742292_eenkc8vgg3.ttf?t=1733543192760') format('truetype');
}

/* App 主体样式 */
.App {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}

/* Header 样式 */
header {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.813);
  border: 1px solid #ccc;
  height: 6vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  /*blur */
  backdrop-filter: blur(10px);
}
.head-navbar {
  display: flex;
  flex: 15;
  flex-direction: row;
  align-items: center;
}
header span,.side-navbar span {
  display: block;
  margin-left: 12px;
  margin-bottom: 10px; 
  color: rgba(48, 46, 46, 0.758);
  font-size: 1.4rem;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}
header span:hover {
  background-color: rgba(201, 204, 206, 0.306);
}
.logo {
  width: 10vh;
  height: 1vh;
  padding: 10px;
  background-image: url(./asstes/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  flex: 2;
}

/* 容器样式 */
.container {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(240, 255, 255, 0.326); */
  border-radius: 10px;
  margin-top: 7vh;
}
.container span {
  display: inline-block;
}

/* 侧边导航栏样式 */
.side-navbar {
  position: absolute;
  left: 0;
  top: 6vh;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background-color: rgb(3, 97, 134);
  position: fixed;
  flex-direction: column;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.2s ease-in-out;
  z-index: 999;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.side-navbar-active {
  opacity: 1;
  transform: translateX(0);
}

/* 图标字体样式 */
.bar {
  font-family: "iconfont"!important;
  transition: all 0.3s ease-in-out;
  margin: 5px;
  color: aliceblue;
  font-size: 18px;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  margin-bottom: 12px;
}

/* 响应式样式 */
@media screen and (max-width: 600px) {
  header .head-navbar span {
    display: none;
  }
  header span,
  .side-navbar span {
    font-size: 1.2rem;
  }
  .bar {
    display: block;
  }
  .logo {
    flex: 4;
  }
}

.now-date{
  text-align: left;
  align-self: flex-start;
  margin-left: 10px;
}