*{
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-wrap:wrap;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
body{
  background-color: rgb(3, 97, 134);
}

header span:hover{
  background-color: rgba(201, 204, 206, 0.306);
}
/* div{
  border: 1px solid #000;
} */
header {
  display: flex;
  align-items: center;
  background-color: rgba(2, 113, 150, 0.719);
  height: 6.6vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* width: 100vw; */
  justify-content: space-between
}
header span,.side-navbar span{
  margin-left: 16px;
  color: aliceblue;
  font-size: 18px;
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
  transition:all .2s ease-in-out;
  font-weight: bold;
}

h1{
  color: aliceblue;
  width: 100%;
  display: block;
}

.container{
  width: 76vw;
  padding:6px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container span{
  display: inline-block;
}
@font-face {
  font-family: 'iconfont';  /* Project id 4742292 */
  src: url('//at.alicdn.com/t/c/font_4742292_eenkc8vgg3.woff2?t=1733543192760') format('woff2'),
       url('//at.alicdn.com/t/c/font_4742292_eenkc8vgg3.woff?t=1733543192760') format('woff'),
       url('//at.alicdn.com/t/c/font_4742292_eenkc8vgg3.ttf?t=1733543192760') format('truetype');
}

.side-navbar{
  position: fixed;
  left: 0;
  top: 6.6vh;
  width: 100%;
  display: flex;
  background-color: rgb(3, 97, 134);
  /* z-index: 100; */
  flex-direction: column;
  opacity: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.side-navbar-active{
  opacity: 1;
}
.head-navbar{
  display: flex;
  flex-direction: row;
}
.bar{
  font-family: "iconfont"!important;
  transition: all 0.3s ease-in-out;
  margin: 10px;
  color: aliceblue;
  font-size: 18px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  visibility: hidden;
}


@media screen and (max-width: 600px) {
  header .head-navbar span{
    visibility: hidden;
  }
  /* .type{
   visibility: hidden;
  } */
  .bar{
    visibility: visible;
  }
}

.bar-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}